<?php
$store_currency = Store\Settings::getCurrencyCode(\User\User::getUserData()->id);
?>
<div id="tangable-item-wrapper">
	<div class="form-row form-row-group-top form-row-group-top-padding-5 margin-top-30">
		<div class="table-grid table-grid-cols-2 table-grid-padding-30">
			<div class="table-grid-cell">
				<p class="text-1"><?php echo $this->_('Sell') ?></p>
				<input name="sell" type="hidden" value="1" class="event-sell-input" />
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="table-grid">
			<div class="table-grid-cell">
                <p class="text-1 color-3"><?php echo $this->_('If your product does`t have variations, leave Add Variation field empty') ?></p>
			</div>
		</div>
	</div>
	<div id="event-sell-options">
		<?php foreach ($options as $option) : ?>
	        <div class="form-row margin-top-20 event-sell-option-row event-sell-option-row-variation">
	            <div class="table-grid table-grid-cols-4 table-grid-padding-30">
	                <div class="table-grid-cell">
	                    <input type="text" name="pinquantity[option][]" value="<?php echo $option->option ?>" class="field field-color-1 field-size-1 fill" placeholder="<?php echo $this->_('Add Variation') ?>" title="<?php echo $this->_('Add Variation') ?>">
	                </div>
	                <div class="table-grid-cell">
	                    <input type="text" name="pinquantity[quantity][]" value="<?php echo $option->quantity - \Store\PurchasedStoreItem::sales($option->pin_id, $option->id) ?>" class="field field-color-1 field-size-1 fill" placeholder="<?php echo $this->_('Quantity') ?>" title="<?php echo $this->_('Quantity') ?>">
	                </div>
	                <div class="table-grid-cell">
	                    <input type="text" name="pinquantity[price][]" value="<?php echo $option->price ?>" class="field field-color-1 field-size-1 fill" placeholder="<?php echo $this->_('Price') ?> (<?php echo $store_currency; ?>)" title="<?php echo $this->_('Price') ?>">
	                </div>
	                <div class="table-grid-cell">
	                    <a href="javascript:;" class="icon icon-18 icon-type-4 event-option-remove">Icon</a>
	                </div>
	            </div>
	        </div>
		<?php endforeach; ?>

		<?php if (!$options->count()) : ?>
	        <div class="form-row margin-top-20 event-sell-option-row event-sell-option-row-variation">
	            <div class="table-grid table-grid-cols-4 table-grid-padding-20">
	                <div class="table-grid-cell">
	                    <input type="text" name="pinquantity[option][]" class="field field-color-1 field-size-1 fill" placeholder="<?php echo $this->_('Add Variation') ?>" title="<?php echo $this->_('Add Variation') ?>">
	                </div>
	                <div class="table-grid-cell">
	                    <input type="text" name="pinquantity[quantity][]" class="field field-color-1 field-size-1 fill" placeholder="<?php echo $this->_('Quantity') ?>" title="<?php echo $this->_('Quantity') ?>">
	                </div>
	                <div class="table-grid-cell">
	                    <input type="text" name="pinquantity[price][]" class="field field-color-1 field-size-1 fill" placeholder="<?php echo $this->_('Price') ?> (<?php echo $store_currency; ?>)" title="<?php echo $this->_('Price') ?>">
	                </div>
	                <div class="table-grid-cell">
	                    &nbsp;
	                </div>
	            </div>
	        </div>
		<?php endif ?>

		<div class="form-row margin-top-20 event-sell-option-row event-add-variation-button hide">
			<div class="table-grid">
				<div class="table-grid-cell">
					<p class="text-1">
						<a href="javascript:;" class="color-5 event-add-option"><?php echo $this->_('+ Add New Variation') ?></a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/template-x" id="option-template">
    <div class="form-row margin-top-20 event-sell-option-row event-sell-option-row-variation">
    <div class="table-grid table-grid-cols-4 table-grid-padding-20">
    <div class="table-grid-cell">
    <input type="text" name="pinquantity[option][]" value="" class="field field-color-1 field-size-1 fill" placeholder="<?php echo $this->_('Add Variation') ?>" title="<?php echo $this->_('Add Variation'); ?>">
    </div>
    <div class="table-grid-cell">
    <input type="text" name="pinquantity[quantity][]" value="" class="field field-color-1 field-size-1 fill" placeholder="<?php echo $this->_('Quantity') ?>" title="<?php echo $this->_('Quantity'); ?>">
    </div>
    <div class="table-grid-cell">
    <input type="text" name="pinquantity[price][]" value="" class="field field-color-1 field-size-1 fill" placeholder="<?php echo $this->_('Price') ?> (<?php echo $store_currency; ?>)" title="<?php echo $this->_('Price'); ?>">
    </div>
    <div class="table-grid-cell">
    <a href="javascript:;" class="icon icon-18 icon-type-4 event-option-remove">Icon</a>
    </div>
    </div>
    </div>
</script>

<script type="text/javascript">
	var addOption = function(el) {
		if (isEnableAddNew()) {
			$($('#option-template').html()).insertBefore(el.closest('.event-sell-option-row'));
			$('.event-add-variation-button')[isEnableAddNew() ? 'removeClass' : 'addClass']('hide');
		}
	},
			isEnableAddNew = function() {
				var lastRow = $('.event-sell-option-row-variation:last'),
						price = $('[name="pinquantity[price][]"]', lastRow).val(),
						quantity = parseInt($('[name="pinquantity[quantity][]"]', lastRow).val()),
						option = $('[name="pinquantity[option][]"]', lastRow).val();
				return option && price && quantity;
			};

	$('.event-add-option').click(function() {
		if (isEnableAddNew()) {
			$($('#option-template').html()).insertBefore($(this).closest('.event-sell-option-row'));
			$('.event-add-variation-button')[isEnableAddNew() ? 'removeClass' : 'addClass']('hide');
		}
	});

	$('[name="sell"]').change(function() {
		if ($(this).is(':checked')) {
			$('#event-sell-options').show();
		} else {
			$('#event-sell-options').hide();
		}
	});

	$(document).off('.event-option-remove').on("click.event-option-remove", ".event-option-remove", function() {
		console.log(this)
		$(this).closest(".event-sell-option-row-variation").remove();
	}).on('keyup', '.event-sell-option-row-variation:last input', function() {
		$('.event-add-variation-button')[isEnableAddNew() ? 'removeClass' : 'addClass']('hide');
	});
	$('.event-add-variation-button')[isEnableAddNew() ? 'removeClass' : 'addClass']('hide');

</script>